dbt-core==1.8.9
dbt-duckdb==1.9.1
dagster-duckdb==0.25.6
dagster-cloud==1.9.6
dagster-webserver==1.9.6
dagster==1.9.6
dagster-cloud-cli==1.9.6
dagster-airbyte==0.25.6
dagster-dbt==0.25.6
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
matplotlib==3.10.0
sqlalchemy==2.0.36
imbalanced-learn==0.13.0
pyarrow==15.0.0